<h1>Hi {{ fullname }}! Please confirm your email!</h1>

<p>
    Please confirm your password reset by clicking the following link: <br><br>
    <a href="{{ url }}">Confirm my reset</a>.
</p>

<p>
    Cheers!
</p>
