<!DOCTYPE html>

<title>New ImagesEvents</title>

{% block body %}
    <h1>Create new ImagesEvents</h1>

    {{ include('images_events/_form.html.twig') }}

    <a href="{{ path('images_events_index') }}">back to list</a>
{% endblock %}
